.BorderBox {
  max-width: 425px;
  margin: 4rem auto;
  border-radius: 50px;
  border: solid 1px lightGray;
  background-color: whitesmoke;
}

.Box {
  padding: 1rem 2rem;
}

.HeaderBox {
  padding: 2rem;
  color: aliceblue;
  background-color: #191D21;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  border: solid 1px lightGray;

  h1 {
    margin: 0;
  }
}

.FlexRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.FlexCol {
  padding: 0;
}


.textGreeting {
  margin: 1rem 0;
  font-size: 24px;
}

.userText {
  width: 100%;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: -1px;
  text-align: left;
  color: #1814E4;
}

.textLink {
  color: #191D21;
  text-decoration: none;
}

.mainText {
  color: #191D21;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 40.96px;
  letter-spacing: -1px;
  margin-bottom: 16px;
  margin-top: 16px;
  text-align: left;
}

.trackItemBox {
  padding: 8px;
  border-radius: 8px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.trackItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.trackName {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: bold;
}

.artistName {
  margin: 0;
  font-size: 14px;
  color: #656F77;
  font-weight: 700;
}

.imgStyles {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
  box-shadow: 0px 8px 16px -2px rgba(0, 0, 0, 0.12);
}

.container {
  margin: auto;
  max-width: 425px;
}

.rowBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 16px;
}

.listBox {
  padding: 0;
}

.favTracks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  margin-bottom: 16px;
  border-radius: 16px;
  background-color: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.12);
}

.trackBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.textTrackTitle {
  margin-top: 0;
  margin-bottom: 3px;
}

.text {
  margin: 0;
  font-size: 12px;
}

.likedText {
  margin-top: 4px;
  margin-bottom: 0;
  font-size: 12px;
  color: #1814E4;
}

.imgStyles {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
  box-shadow: 0px 8px 16px -2px rgba(0, 0, 0, 0.12);
}

.trackName {
  font-size: 14px;
  font-weight: bold;
}

.artistName {
  font-size: 10px;
  font-weight: 600;
}

.date {
  font-size: 12px;
  font-weight: 200;
  color: #1814E4;
}

